body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/225/154/small_2x/black-low-poly-geometric-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    color: white;
    background-color: rgb(197, 0, 56);
    width: 100%;
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    border: solid white 3px;
}
section.name {
    max-width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(207, 208, 208,0.5);
    border: 1px solid rgb(205, 1, 1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}
section.skills {
    max-width: 90%;
    margin: 30px auto;
    color: white;
}
section.name img {
    width: 100px;  
    height: 100px;
    border-radius:10px;
    margin-bottom: 10px;
    border: solid black 1px;

}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
ul li {
    background-color: rgb(197, 0, 56);
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
    font-size: 18px;}
section.Hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: 40px auto;
    gap: 20px;
}
section.hobbie{
    background-color: rgb(197, 0, 56);
    color: white;
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    border: solid white 4px;
}
button {
    background-color: aquamarine;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
section.contact {
    max-width: 90%;
    margin: 40px auto;
    background-color: rgba(207, 208, 208,0.7);
    padding: 20px;
    border-radius: 400px;
    text-align: center;
    border: solid black 5px;
}
.footer {
    background-color: rgb(197, 0, 56);
    color: white;
    text-align: center;
    padding: 20px;
    border: solid white 3px;
}